exportPattern("^[[:alpha:]]+")
export(Collapse)
export(ConsSeq)
export(CorrectGapsAndNs)
export(DBrule)
export(Diverge)
export(DNA.dist)
export(DottedAlignment)
export(DSFT)
export(FAD)
export(fn.ab)
export(FreqMat)
export(GenerateVars)
export(geom.series)
export(GetInfProfile)
export(GetQSData)
export(GetRandomSeq)
export(GiniSimpson)
export(HCq)
export(Hill)
export(IntersectStrandHpls)
export(MutationFreq)
export(MutsTbl)
export(NucleotideDiversity)
export(PolyDist)
export(Rao)
export(ReadAmplSeqs)
export(Recollapse)
export(Renyi)
export(ReportVariants)
export(SegSites)
export(Shannon)
export(SortByMutations)
export(SummaryMuts)
export(TotalMutations)
export(UniqueMutations)
importFrom(Biostrings,DNAStringSet)
importFrom(Biostrings,readDNAStringSet)
importFrom(Biostrings,pairwiseAlignment)
importFrom(Biostrings,nmismatch)
importFrom(Biostrings,AA_ALPHABET)
importFrom(Biostrings,AA_STANDARD)
importFrom(Biostrings,AAStringSet)
importFrom(Biostrings,DNA_BASES)
importFrom(Biostrings,readAAStringSet)
importFrom(Biostrings,DNAStringSetList)
importFrom(stats,qbinom)
importFrom(stats, as.dist)
importFrom(BiocGenerics,width)
importFrom(psych, cor.plot)
importFrom(methods, is)
import(ape)