exportPattern("^[[:alpha:]]+")
importFrom(Biostrings,DNAStringSet)
importFrom(Biostrings,readDNAStringSet)
importFrom(Biostrings,pairwiseAlignment)
importFrom(Biostrings,nmismatch)
importFrom(Biostrings,AA_ALPHABET)
importFrom(Biostrings,AA_STANDARD)
importFrom(Biostrings,AAStringSet)
importFrom(Biostrings,DNA_BASES)
importFrom(Biostrings,readAAStringSet)
importFrom(Biostrings,DNAStringSetList)
importFrom(stats,qbinom) 
importFrom(BiocGenerics,width)
importFrom(utils, installed.packages)
importFrom(psych, cor.plot)
import(ape)
import(devtools)
